<div>
  <div class="head-bar">
    <p class="previous"><i class="fas fa-arrow-left"></i>All Projects</p>
    <p class="p-name">Supermassive black hole <i class="fas fa-chevron-down"></i></p>
    <div class="options">
      <i class="fas fa-search"></i>
      <i class="far fa-bell">
        <span class="badge">3</span>
      </i>
      <img class="user-img" src="./../../assets/user.png" alt="user-dp" />
    </div>
  </div>
  <div class="status-bar">
    <div class="done" ref="status"></div>
  </div>
</div>
