<div class="navigation">
  <span class="logo">
    <i class="fab fa-instagram"></i>
  </span>
  <ul class="options">
    <li class="option">
      <i class="fas fa-home"></i>
    </li>
    <li class="option">
      <i class="far fa-user"></i>
    </li>
    <li class="option">
      <i class="fas fa-calendar"></i>
    </li>
    <li class="option">
      <i class="far fa-clock"></i>
    </li>
    <li class="option">
      <i class="fas fa-list-ul"></i>
    </li>
    <li class="option">
      <i class="fas fa-comment"></i>
    </li>
    <li class="option">
      <i class="fas fa-filter"></i>
    </li>
  </ul>
</div>
